<!DOCTYPE html>

<html>
<head>
    <meta charset="uft-8" />
    <title>About</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <div class="nav-wrapper">
            <div class="left-side">
                <div class="nav-link-wrapper">
                    <a href="{{url_for('index')}}">Home</a>
                </div>

                <div class="nav-link-wrapper active-nav-link">
                    <a href="{{url_for('about')}}">About</a>
                </div>
            </div>

            <div class="right-side">
                <div class="brand">
                    <div> ADRIAN RODRIGUEZ-MARTINEZ </div>
                </div>
            </div>
        </div>

        <div class="content-wrapper">
            <div class="two-column-wrapper">
                <div class="profile-img-wrapper">
                    <img src="static/images/profile-img.png">
                </div>

                <div class="profile-content-wrapper">
                    <h1>Hello, welcome to this site.</h1>

                    <p>This is currently place holder text</p>

                    <p>More soon to come! As well as an updated picture!!!</p>
                </div>
            </div>
        </div>

    </div>
</body>

</html>
